n8n/backup/workflows/G4abvXefNr0v29xb.json
{
  "createdAt": "2025-02-18T04:22:49.761Z",
  "updatedAt": "2025-02-18T08:42:25.479Z",
  "id": "G4abvXefNr0v29xb",
  "name": "Import All Files to RAG",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "fileSelector": "/data/rag/**",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        40,
        60
      ],
      "id": "bb5bb3e7-af19-4f8b-8b76-5dee1994e1f6",
      "name": "Read/Write Files from Disk"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -140,
        60
      ],
      "id": "27896483-1dad-492d-bc73-563aeb6a5408",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        260,
        60
      ],
      "id": "83a83b7d-5260-4c20-a52a-dac1daf82f4e",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://n8n:5678/webhook/a741acc6-3ad1-4796-9e53-28c9b799f3c4",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "filePath",
              "value": "={{ $json.directory }}/{{ $json.fileName }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        520,
        60
      ],
      "id": "3c91e398-29a2-4bcd-b47e-ac7534d7b1b6",
      "name": "HTTP Request",
      "retryOnFail": true,
      "onError": "continueRegularOutput"
    }
  ],
  "connections": {
    "Read/Write Files from Disk": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "2eeb4814-2dbe-4e23-906e-d722b061ebba",
  "triggerCount": 0,
  "tags": []
}